{% extends "lab_8/layout/base.html" %}
{% block content %}
<div id="lab8">
<button id="login-button" onclick="facebookLogin()">Login with Facebook</button>
</div>
<div id ="feedContainer" class="feedContainer">
</div>
{% endblock %}
