body {
  font-family: 'Arial';
  margin: 0;
}

#lab8 {
  text-align: center;
}

#login-button {
  text-align: center;
  margin-top: 60px;
  padding: 5px 20px;
  font-family: 'Arial';
  color: white;
  background-color: #3b5998;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

#postInput {
  width: 55%;
  height: 90px;

}

.postStatus {
  padding: 4px 20px;
  padding-top: 5px;
  font-family: 'Arial';
  color: white;
  background-color: #3b5998;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin-top: 1.2%;
}

.logout {
  padding: 4px 20px;
  padding-top: 5px;
  font-family: 'Arial';
  color: white;
  background-color: #3b5998;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin-top: 1%;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.cover {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: -1;
}

.picture, .data {
  z-index: 1;
}

.picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #fff;
  padding: 0.8rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
}

.data h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5rem;
}

.data h2 {
  font-size: 1.8rem;
  margin: 0.3rem;
}

.data h3 {
  font-size: 1.5rem;
  margin: 0.2rem;
}

.feedContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 4rem;
  overflow: hidden;
}

.feed {
  width: 80rem;
  margin: 1rem;
  padding: 0.8rem;
  background: aliceblue;
  border-radius: 0.35rem;
}

.feed h1 {
  font-size: 2rem;
}

.feed h2 {
  font-size: 1.5rem;
}

.statusContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.statusContainer input {
  border-radius: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 64em) {
  #postInput {
    width: 90%;
  }

  .feed {
    width: 100%;
  }
}
